@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");



:root{
    --marrom: #856c5e;
    --marrom-escuro: #261911;
    --marrom-clarin: #8C7765;
    --bege: #A69E94;
    --cinza:#BFBFBD;
    --branco: #FFFFFF;
    --preto: #000000;
    --cinza-claro: #cfcfca;
    --bege-acinzentado: #D6CCC2;
    --bege-claro: #F5EBE0;
    --areia-suave: #E3D5CA;
    --marrom-claro-rosado: #D5BDAF;
    --azul-img-bg: #202025;
    --fonte-principal: 'Raleway', sans-serif;
    --cor-bege-escuro: #8E7451;
    --laranja-suave: #975A2B;
    --caf-noir: #483825ff;
    --raw-umber: #975A2Bff;
    --caf-noir-2: #573D22ff;
    --tan: #D7B687ff;
    --fawn: #DCA46Aff;
    --caf-noir: hsla(33, 32%, 21%, 1);
    --raw-umber: hsla(26, 56%, 38%, 1);
    --caf-noir-2: hsla(31, 44%, 24%, 1);
    --tan: hsla(35, 50%, 69%, 1);
    --fawn: hsla(31, 62%, 64%, 1);
    --cinza-azulado: #6F776D;
    --azul-vintage: #354646 ;
    --cimento: #655D49;
    --cor-de-pele-nanilo: #D7B687;

  }


body, html{   
    color: var(--preto);   
    margin: 0;
    padding: 0; 
    font-family: var(--fonte-principal);
    display: flex;
    flex-direction: column;
    min-height: 100vh;  
    scroll-behavior: smooth; /* rolagem suave */
    /* background-image: url('img/fundo-technologico.png'); */
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* efeito parallax */
    background-repeat: no-repeat;
    transition: background-image 0.5s; /* transição suave para mudança de tema */
}

.hero {
 width: 50%; /* ocupa toda a largura da tela */
  height: 50vh;
  background-image: url("/img/chat-eu.png"); /* coloque sua foto */
  background-size: cover; /* cobre a tela sem distorcer */
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white; /* texto em branco para destacar */
  padding: 50px;
  margin: 90px auto; /* margem em cima/baixo = 90px, esquerda/direita = auto */
  background-color: var(--azul-vintage);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* sombra suave */
}


.hero-text {
  background: rgba(0,0,0,0.5); /* fundo escuro transparente para dar contraste */
  border-radius: 10px;
  padding: 20px;
  max-width: 800px;
}
#btnTopo{
    position:fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--cinza-azulado);
    color: var(--branco);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    
}


.container{
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 60px 10%;
    font-size: 20px;
    /* margin: 20px;   */
    background-color: var(--bege);
}

.container-logo{
    display: flex;
     justify-content: center;
     gap: 26px;
    align-items: center;
    padding: 5px;
}


.foto-sophia-chat{
    display: flex;
    justify-content: center;
}

.container-curriculo {
  width: 100%;                 /* fundo ocupa a tela inteira */
  background-color: var(--cinza);
  padding: 40px 0;             /* espaço em cima e embaixo */
}

.curriculo-conteudo {
  max-width: 800px;            /* limite do conteúdo */
  margin: 0 auto;              /* centraliza */
  text-align: center;          /* centraliza título e botão */
  padding: 0 20px;             /* respiro lateral no mobile */
}

.container-curriculo iframe {
  width: 100%;       /* ocupa toda a largura do bloco (não da tela inteira) */
  height: 600px;     /* altura fixa */
  border: none;      /* remove borda padrão */
}

.foto-perfil{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 ;
    display: block;
}


h1{
    color:var(--cinza);
    font-size: 18px;
    text-align: center;
   
}

.cabecalho{
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  background-color: var(--azul-img-bg);
  z-index: 1000; /* Garante que fique acima dos outros elementos */
  box-shadow: 0 2px 8px rgba(0,0,0,0.05); 
}



.menu-cabecalho{
    /* position: fixed; */
    top: 90px;
    left: 0;
    width: 100%;
    display: flex;
    font-family: var(--fonte-principal);   
    text-align: center;   
    justify-content: center;    
    gap: 20px;   
    padding: 10px 0;
    z-index: 1000;    
}

/* .menu-cabecalho a.ativo {
  color: var(--cinza); /* cor de destaque do item ativo 
  font-weight: bold;
} */

.menu-cabecalho a{
    text-decoration: none;
    color: var(--bege);
    font-size: 18px; 
    font-weight: bold;
    letter-spacing: 1px; /* espaçamento entre letras */
    transition: color 0.3s, font-weight 0.3s; /* transição suave para hover */  
}


.container a{
  text-decoration: none ;
}


footer{
 background-color: var(--azul-img-bg);
  padding: 5px;
  text-align: center;
  margin-top: 20px;
  color: var(--branco);
}

.botoes{
    border-radius: 10px;   
    color: var(--cinza);
    padding: 20px;
    border: none;
    font-size: 20px;
    margin: 10px;   

}
.container-botao a img {
  transition: transform 0.3s, opacity 0.3s;
}

.container-botao a:hover img {
  transform: scale(1.1);
  opacity: 0.8;
}


.container-botao{
  display: flex;     
  flex-wrap: wrap;
  /* margin-top: 50px;     */
  justify-content: center;
  
}

/* .botoes:hover{
   background-color: var(--marrom-clarin);
   color: var(--marrom-escuro);
} */


.secao-projetos{
  text-align: center;
  padding: 40px;
  background-color: var(--bege-acinzentado);   
}

.container-projetos{
    display: flex;
    flex-wrap: wrap; /* Faz quebrar para a próxima linha se necessário */
    justify-content: center; /* Centraliza os itens na linha */
    gap: 20px; /* Espaçamento entre os itens */
    margin-top: 20px;
    padding: 0 15%;
}

.container-projetos a{
    padding: 8px;
    border-radius: 10px;
    background-color: var(--bege-acinzentado);
    font-weight: bold;
}


.projeto{
    border-radius: 10px;
    background-color: var(--laranja-suave);
    width: 300px;  /* Largura fixa para alinhar os cards */
    text-align: left;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
    transition: transform 0.2s; /* Transição suave para o efeito hover */
    flex-direction: column;     /* Coloca os elementos em coluna */
    justify-content: space-between;  /* Empurra o link pro final */
  }

.projeto-titulo{
    font-size: 18px;
    margin-left: 15px;
    color: var(--marrom-escuro);
    font-weight: bold;
}

.projeto-explicacao{
    font-size: 16px;
    color: var(--marrom-escuro);
    margin-top: 10px;
}

.projeto-tecnologia{
    font-size: 14px;
    color: var(--marrom-escuro);
}

.projeto-link{
    text-decoration: none;
    color: var(--marrom-escuro);
    font-size: 14px;
    margin-top: auto; /* Empurra esse link para o final do container */
}


.botao-curriculo{
    background-color: var(--cinza-azulado);
    color: var(--preto);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    text-decoration: none;
}

.container-texto{
   flex: 1 1 400px;
    max-width: 600px;
    text-align: justify;
    font-size: 18px;
    font-family: Raleway, sans-serif;
    /* margin-top: 60px; */
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding-top: 130px;
}


.filtros {
  display: flex;
  gap: 15px;
  margin-bottom: 30px;
  flex-wrap: wrap;
  margin-left: 38%;
}

.filtros button {
  background-color: var(--marrom-clarin);
  color: var(--preto);
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
    font-weight: 600;
  transition: background-color 0.3s;
}

.filtros button:hover {
  background-color: var(--bege);
}

.container-conhecimentos {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
  align-items: stretch; /* Alinha os itens para ocupar toda a altura do container */
  font-family: var(--fonte-principal);
  font-size: 18px;
  
}

.container-conhecimentos p{
    color: var(--branco);
    font-size: 16px;
}

.barra {
  background-color: var(--bege);
  border-radius: 10px;
  height: 15px;
  margin-top: 10px;
  overflow: hidden;
}

.progresso {
  height: 100%;
  width: 0;
  background-color: var(--bege-acinzentado);
  border-radius: 10px;
  transition: width 1.5s ease-out;
}

.conhecimentos-section {
  padding-top: 180px; /* ajuste conforme a altura real do seu header */
}

.conhecimento {
  background-color: var(--marrom-clarin);
  margin: 10px;
  padding: 20px;
  text-align: center;
  font-weight: bold;
  border-radius: 10px;
  width: 150px;
  transition: transform 0.3s;
}

#conhecimentos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.caixinha-conhecimento {
  background-color: var(--marrom-clarin);
  padding: 20px;
  width: 280px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.caixinha-conhecimento h2 {
    margin-top: 0;
    color: var(--marrom-escuro);
    text-align: center;
}

.container-certificados h2{
    font-size: 15px;
    text-align: center;
}


.certificados{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 10px;
    background-color: var(--marrom-clarin);
    padding: 20px;
    text-decoration: none;
    color: var(--marrom-escuro);
}

.certificados:hover{
    color: var(--cinza);
    text-decoration: underline;
}
   
.formulario-contato{
  display: flex;
  flex-direction: column;
  border: 5px solid var(--marrom-escuro);
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  padding: 30px;
  max-width: 600px;
  margin: auto;
  background-color: var(--bege);
}

.container-form{    
  background-color: var(--cinza);
  text-align: center;
  color: var(--preto);
}

.formulario-contato input,
.formulario-contato textarea {
  padding: 12px;
  border: 1px solid var(--marrom-escuro);
  border-radius: 8px;
  font-family: inherit;
  font-size: 16px;
  background-color: #fff;
  color: var(--preto);
  resize: none;
}

.formulario-contato button {
  padding: 12px;
  background-color: var(--bege-acinzentado);
  color: var(--preto);
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: inline-block;
  margin-top: 15px;
  font-weight: bold;
  font-family: var(--fonte-principal);
}


.formulario-contato button:hover {
  background-color: var(--marrom-clarin);
}


.caixinha-respostas{
    background-color: var(--bege);
    padding: 12px;    
    border-radius: 2px;
    font-size: 15px;

}

.caixinha-respostas p{
    color: var(--preto);
    margin: 0;
}

.caixinha-perguntas {    
    border-radius: 2px;
    font-size: 17px;
}

.faq h3{
    color: var(--preto);    
    font-size: 18px;
    margin-bottom: 10px;
    padding: 10px;
} 

.tam-h2{
    font-size: 15px;
    color: var(--cinza);
    text-align: center;
    margin-top: 20px;
}

.secao-faq{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;  
    background-color: var(--cinza-claro);
    /* border-radius: 2px; */
    margin: 0;    
}


.bloco-pergunta {
  margin-bottom: 15px;
  border: 1px solid var(--bege);
  border-radius: 8px;
  overflow: hidden;
  width: 500px;
  /* max-width: 600px; */
  /* height: 100px; */
}

#sobremim {
  padding: 30px;  /*ajuste conforme a altura do seu header */
  scroll-margin-top: 130px; /* para navegação suave */
}

.btn-pergunta-sobremim {
  background-color: var(--azul-vintage);
  font-family: var(--fonte-principal);
  font-weight: bold;
  color: var(--branco);
  width: 100%;
  text-align: left;
  padding: 15px;
  font-size: 18px;
  cursor: pointer;
  border: none;
  outline: none; /* remove outline on focus */
  transition: background-color 0.3s ease; /* transition for hover effect */
}

.btn-pergunta-sobremim:hover {
  background-color: var(--cinza-azulado);
}

.resposta-pergunta {
  max-height: 0;
  overflow: hidden; /* Esconde o conteúdo inicialmente */
  padding: 0 15px; 
  background-color: var(--branco);
  color: var(--preto);
  transition: max-height 0.3s ease, padding 0.3s ease;
}

.bloco-pergunta.ativo .resposta-pergunta {
  max-height: 500px;
  padding: 15px;
}

.seta-abrir {
  display: inline-block;
}

.seta-fechar{
  display: none; 
}

.bloco-pergunta.ativo .seta-abrir {
  display: none;
}

.bloco-pergunta.ativo .seta-fechar {
  display: inline-block; 
}

nav a.active{
  color: var(--cinza);
  border-bottom: 2px solid var(--branco);
  /* padding-bottom: 5px; */
}

nav a:hover{
  color: var(--bege-claro);
  border-bottom: 2px solid var(--branco);
  /* padding-bottom: 5px; */
}


.filtros button.active {
  background-color: var(--marrom); 
  color: var(--branco);           
  border: 2px solid var(--marrom-escuro);
}
